.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(0, 0,0, 0.6);
}

.modal-content {
  background: white;
  width: 400px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 8px;
}