.btn-logout{
    width: 90px;
    height: 50px;
    background-color:#2563eb;;
    border-radius: 5%;
    font-size: large;
}
.btn-logout:hover{
    cursor: pointer;
    background-color:#2563eb;;
    color: white;
}